* {
  box-sizing: border-box;
  padding: 0px; 
  margin: 0px; 
  font-family: "Roboto", sans-serif;
}

body {
  background-color: #c1dfe9;
  display: flex;
  justify-content: center;
}

.button-wrapper {
  display: flex; 
  flex-direction: column;
  justify-content: space-around;
  margin: 40px;
}

.button-wrapper button {
  background-color: rgb(72, 72, 72);
  color: white;
  font-size: 18px;
  width: 200px; 
  height: 100px;
  padding-left: 30px; 
  padding-right: 30px;
  border-radius: 8px;
  border: 2px solid black;
}

button:active {
  transform: translateY(3px);
}


div.grid-container {
  background-color: white;
  display: flex; 
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 812px;
  height: 812px;
  border: 2px solid black;
  margin: 40px auto;
}

.box {
  border: 1px solid darkgray; 
  opacity: 1;
}

.grid-container div.default {
  height: 50px;
  width: 50px; 
}

