* {
  box-sizing: border-box;
  padding: 0px; 
  margin: 0px; 
}

div.grid-container {
  display: flex; 
  flex-wrap: wrap;
  justify-content: center;
  width: 804px;
  height: 804px;
  border: 2px solid black;
  margin: 40px auto;
}
.grid-container div {
  border: 1px solid black; 
  height: 50px;
  width: 50px; 
}